body {
    height: 100%;
    margin: 0;
    background-color: rgb(255, 210, 224);
	font-family: Georgia;
	justify-content: center;
}

.title1 {
    margin-top: 1;
    font-size:2em;
    color: #000000;
    text-align: center;
}

.title2 {
    margin-top: 20px;
    font-size:1em;
    color: #000000;
    text-align: center;
}

.index {
	margin-top:10px;
	text-align: center;
}

.img_arrow {
	transform: rotate(90deg);
	margin-top:10px;
	text-align: center;
}